* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    width: 100%;
}

#container {
    color: white;
    text-shadow: 2px 2px black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("./theme/first-screen.jpg");
    background-size: cover;
}

#title, #controls {
    background: black;
    text-align: center;
}

.screen1{
    text-align: center;
}

.screen1 p {
    width: 45%;
    margin: auto;
    font-size: 3vw;
}

#newTitle {
    font-size: 3vw;
}

#board {
    display: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#choice {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#theme {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#controls {
    padding: 1vh 1vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#board img {
    justify-content: center;
}

button, input, #choice {
    font-size: 3vw;
}

#restart {
    display: none;
}

#modalWin {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(173, 216, 230, .5);
    justify-content: center;
    align-items: center;
}

#info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 3vw;
    font-weight: bold;
    text-shadow: 2px 2px white;
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 800px) {
 /*screen 1*/
    #newTitle {
        font-size: 6vw;
    }
/*screen game */
    #theme img {
        width: 20vw;
    }
    #choice {
        font-size: 3vw;
    }
    input {
        font-size: 3vw;
    }
}

@media screen and (max-width: 601px) {
    /*screen 1*/
    #newTitle {
        font-size: 6vw;
    }
    /*screen game */
    #theme img {
        width: 25vw;
    }
    #choice {
        font-size: 4vw;
    }
    input {
        font-size: 4vw;
    }
}

@media screen and (max-width: 401px) {
    input {
        font-size: 5vw;
    }
    #theme {
        flex-direction: column;
    }
    #theme img {
        width: 35vw;
    }
}
